// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile_title{
  font-size:20px;
  margin-right: 16px;
}
.profile_info{
  font-size:18px;
}
.extra_profile_data{
  margin-top: 54px;
}
.pog_padding{
  padding-bottom: 100px;
}

.log_in_ms{
  margin-left: 12px;
}

.danger_button{
  background:red;
}